<% provide(:title, @team.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="team_info">
    <h1>
      <%= @team.name %>
    </h1>
    <h2>Rank</h2>
    <h2>point</h2>

    <h2>member</h2>
    <ul class="members">
      <% @members.each do |member| %>
        <li>
          <%= link_to member.name, member %>
          <% if member == @leader %>
          | (Leader)
          <% end %>
        </li>
      <% end %>
    </ul>
    <h2>submit</h2>
    </section>
  </aside>
</div>