<div class="center jumbotron">
  <h1>Welcome to<br> <%= Constants::CTF_NAME %></h1>

  <h2>
    Let's play ctf!
  </h2>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<ul>
  <li><h3>What is Ghost Town CTF?</h3><li>
    <h4>
    It is created by <%= link_to "kam1tsur3", "https://twitter.com/kam1tsur3" %> for his learning web development.<br>
    Made by Ruby on Rails.<br>
    </h4>
</ul>
