<% provide(:title, "Rule") %>
<h1>Rule</h1>
<div class="rules">
<ul>
    <li><h2>* Don't brute force attack.</h2></li>
    <li><h2>* Don't attack to score server.</h2></li>
    <li><h2>* Enjoy your exploit and CTF life.</h2></li>
    <!--<li><h2> * flag{you_should_check_rule_before_playing!} </h2></li>-->
</ul>
</div>
