<% provide(:title, "Rule") %>
<h1>Rule</h1>
<div>
<ul>
    <li><h2>* Don't brute force attack.</h2></li>
    <li><h2>* Don't attack to score server.</h2></li>
    <li><h2>* Enjoy your exploit and CTF life.</h2></li>
</ul>
</div>
