<% provide(:title, 'Challenges') %>
<h1>Challenges</h1>

<% @challs.each do |chall| %>
  <% if current_user.admin? || chall.active %>
    <%= link_to(chall) do %>
    <div class="linkbox <%= 'solved' if Submit.where(chal_id: chall.id).where(team_id: current_user.team_id).length != 0 %>">
      <p><%= chall.name %></p>
      <p><%= chall.point %></p>
    </div>
    <% end %>
  <% end %>
<% end %>