<footer class="footer">
  <small>
    This web site is maintained by kam1tsur3
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", 'https://twitter.com/kam1tsur3' %></li>
    </ul>
  </nav>
</footer>